<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Google Notifier Quick Add CM Plugin</string>
	<key>CFBundleGetInfoString</key>
	<string>Google Notifier 1.10.7.1294, © 2005-2010 Google Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.GoogleNotifierQuickAddCMPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Google Notifier Quick Add CM Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.10.7</string>
	<key>CFBundleSignature</key>
	<string>Plug</string>
	<key>CFBundleVersion</key>
	<string>1.10.7.1294</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>3487BB5A-3E66-11D5-A64E-003065B300BC</key>
		<string>CMPluginInFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>2F6522E9-3E66-11D5-80A7-003065B300BC</key>
		<array>
			<string>3487BB5A-3E66-11D5-A64E-003065B300BC</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Google Notifier 1.10.7.1294, © 2005-2010 Google Inc.</string>
</dict>
</plist>
